---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = 'Blog Page';
const pageDescription = 'Blog posts about me as a developer';
const allPosts = await Astro.glob('./posts/*.md');
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <section class="py-32">
    <h1>Blog Posts</h1>
    <h3>
      Here you can read about my daily live as a developer, learnings that I
      have and issues that I face.
    </h3>
    <ul class="flex flex-col gap-12">
      {
        allPosts.map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            pubDate={post.frontmatter.pubDate}
          />
        ))
      }
    </ul>
  </section>
</BaseLayout>
