---
import BaseLayout from '../layouts/BaseLayout.astro';
import TypewriterText from '../components/TypewriterText/TypewriterText';
import photoMarco450 from '../assets/images/marco/photo-marco-w450.png';
import photoMarco600 from '../assets/images/marco/photo-marco-w600.png';
import photoMarco750 from '../assets/images/marco/photo-marco-w750.png';
import photoMarco900 from '../assets/images/marco/photo-marco-w900.png';
import photoMarco1150 from '../assets/images/marco/photo-marco-w1150.png';
import photoMarco1400 from '../assets/images/marco/photo-marco-w1400.png';
import photoMarco1700 from '../assets/images/marco/photo-marco-w1700.png';
import photoMarco2000 from '../assets/images/marco/photo-marco-w2000.png';
import photoMarco from '../assets/images/marco/photo-marco.png';

import ChevronDown from '@/components/ChevronDown';
import Skills from '@/components/Skills';
// import TypewriterText from '@/components/TypewriterText/TypewriterText.astro';
const pageTitle = 'Marco Rosenbaum';
const pageDescription = 'Marco Rosenbaum - Web Developer based in Stockholm';
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <section class="flex flex-col h-screen pt-16 gap-12 justify-between">
    <div class="flex flex-col flex-grow md:flex-row justify-around">
      <div class="flex flex-col justify-center flex-grow gap-12">
        <h1>
          I'm Marco,
          <br />
          <TypewriterText
            client:load
            words={['a Web Developer.', 'a Team Player.', 'an Optimist.']}
          />
        </h1>
        <h1 class="text-accent-color">
          Turning Vision into Reality with Code.
        </h1>
      </div>
      <div class="max-h-[50vh] md:max-w-[35vw] md:max-h-[80vh]">
        <img
          class="mx-auto text-center h-full object-contain"
          srcset={`
            ${photoMarco.src} 2500w,
            ${photoMarco2000.src} 2000w,
            ${photoMarco1700.src} 1700w,
            ${photoMarco1400.src} 1400w,
            ${photoMarco1150.src} 11500w,
            ${photoMarco900.src} 900w,
            ${photoMarco750.src} 750w,
            ${photoMarco600.src} 600w,
            ${photoMarco450.src} 450w
          `}
          sizes="
          (max-width: 767px) 90vw, 
          (min-width: 768px) 35vw"
          width="2000"
          height="1920"
          alt="Photo of Marco Rosenbaum"
          loading="lazy"
        />
      </div>
    </div>

    <ChevronDown client:only />
  </section>
  <section class="min-h-screen flex flex-col justify-around py-16">
    <div class="text-xl flex flex-col gap-8">
      <p>
        I am a Web Developer based in beautiful Stockholm with a background in
        electrical engineering.
      </p>
      <p>
        Programming has always been a part of my job, but I discovered my true
        passion in web development. I like the creative process of building
        something from nothing just by writing code and I love the personal
        challenge of achieving maximum efficiency when solving problems.
      </p>
      <p>
        I'm always eager to learn and adapt to new skills, but my current tech
        stack includes the following:
      </p>
    </div>
    <Skills client:visible />
    <div
      class="flex flex-col md:flex-row md:justify-around gap-12 items-center"
    >
      <a
        class="py-2 px-8 rounded-full border border-current text-center w-max hover:bg-accent-color duration-150"
        href="/projects"
        aria-label="Navigate to the projects page">What have I built?</a
      >
      <a
        class="py-2 px-8 rounded-full border border-white text-center w-max hover:bg-currentColor duration-150"
        href="/blog"
        aria-label="Navigate to the blog page">Get to know my in my blog!</a
      >
    </div>
  </section>
</BaseLayout>
