---
import BaseLayout from '../layouts/BaseLayout.astro';

import PROJECTS from '../assets/projects';

const pageTitle = 'Projects Page';
---

<BaseLayout pageTitle={pageTitle}>
  <section
    class="min-h-screen flex flex-col items-center justify-center gap-12 py-16"
  >
    <h1 class="text-4xl">Projects</h1>
    <div class="grid gap-x-20 gap-y-40">
      {
        PROJECTS.map((project, index) => (
          <div class="col-span-1 lg:col-span-2 grid grid-cols-1 lg:grid-cols-2 gap-12">
            {index % 2 === 0 ? (
              <>
                <img
                  src={project.image.src}
                  alt={project.title}
                  loading="lazy"
                  class="rounded-xl border border-accent-color"
                />
                <div>
                  <h2>{project.title}</h2>
                  <p>{project.descriptionLong}</p>
                </div>
              </>
            ) : (
              <>
                <div>
                  <h2>{project.title}</h2>
                  <p>{project.descriptionLong}</p>
                </div>
                <img
                  src={project.image.src}
                  alt={project.title}
                  loading="lazy"
                  class="rounded-xl border border-accent-color"
                />
              </>
            )}
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
