---
import BaseLayout from '../layouts/BaseLayout.astro';
import WebsiteLink from '../components/WebsiteLink.astro';
import GithubLink from '../components/GithubLink.astro';
import PROJECTS from '../assets/projects';

const pageTitle = 'Projects Page';
---

<BaseLayout pageTitle={pageTitle}>
  <section
    class="min-h-screen flex flex-col items-center justify-center gap-12 py-32"
  >
    <div class="grid gap-x-20 gap-y-40">
      {
        PROJECTS.map((project, index) => (
          <>
            <div class="grid col-span-1 lg:col-span-2  grid-cols-1 lg:grid-cols-2 gap-12">
              {index % 2 === 0 ? (
                <>
                  <img
                    alt={project.title}
                    loading="lazy"
                    class="rounded-xl border border-accent-color shadow-2xl shadow-black"
                    srcset={`
                    ${project.image.width400.src} 400w,
                    ${project.image.width600.src} 600w,
                    ${project.image.width800.src} 800w,
                    ${project.image.width1000.src} 1000w,
                    ${project.image.width1200.src} 1200w,
                    ${project.image.width1600.src} 1600w,
                    ${project.image.width2000.src} 2000w,
                    `}
                    sizes="
                    100%"
                  />
                  <div class="flex flex-col gap-8">
                    <h2>{project.title}</h2>
                    <p>{project.descriptionLong}</p>
                    <div class="flex gap-4 flex-wrap">
                      {project.skills.map((skill) => (
                        <span class="skill border border-black bg-white text-black  px-4 py-1 rounded-full text-sm mr-2">
                          {skill}
                        </span>
                      ))}
                    </div>
                    <div class="flex gap-12">
                      <GithubLink url={project.githubLink} />
                      {project.websiteLink ? (
                        <WebsiteLink url={project.websiteLink} />
                      ) : (
                        ''
                      )}
                    </div>
                  </div>
                </>
              ) : (
                <>
                  <div class="order-last lg:order-first flex flex-col gap-8">
                    <h2>{project.title}</h2>
                    <p>{project.descriptionLong}</p>
                    <div class="flex gap-4 flex-wrap">
                      {project.skills.map((skill) => (
                        <span class="skill border border-black bg-white text-black  px-4 py-1 rounded-full text-sm mr-2">
                          {skill}
                        </span>
                      ))}
                    </div>
                    <div class="flex gap-12">
                      <GithubLink url={project.githubLink} />
                      {project.websiteLink ? (
                        <WebsiteLink url={project.websiteLink} />
                      ) : (
                        ''
                      )}
                    </div>
                  </div>
                  <img
                    alt={project.title}
                    loading="lazy"
                    class="rounded-xl border border-accent-color shadow-2xl shadow-black"
                    srcset={`
                    ${project.image.width400.src} 400w,
                    ${project.image.width600.src} 600w,
                    ${project.image.width800.src} 800w,
                    ${project.image.width1000.src} 1000w,
                    ${project.image.width1200.src} 1200w,
                    ${project.image.width1600.src} 1600w,
                    ${project.image.width2000.src} 2000w,
                    `}
                    sizes="
                    100%"
                  />
                </>
              )}
            </div>
          </>
        ))
      }
    </div>
  </section>
</BaseLayout>
