---
const { title, url, description, pubDate } = Astro.props;
// const trimmedPubDate = pubDate.substring(0, 10);
import image from '../assets/images/marco/photo-marco-w450.png';
---

<a href={url} aria-label="Navigate to blog post">
  <li class="flex gap-12 border border-accent-color rounded-xl p-4 bg-black/30">
    <img
      src={image.src}
      loading="lazy"
      width="200"
      height="200"
      alt="Photo blog post"
      sizes="90vw"
    />
    <div class="flex flex-col gap-4">
      <p>{title}</p>
      <p>{description}</p>
      <p class="mt-auto text-sm">Published: {pubDate}</p>
    </div>
  </li></a
>
